.customSubmitSalesButton {
    background-color: #36a7c4;
    color: white;
    border-color: transparent;
    }
    #addSalesComments {
        width: 885px;
        height: 71px;
        border: 2px solid #000;
     }