<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div *ngIf="!isAddComment">
    <button (click)="addCustomComment()" class="activiti-btn activiti-btn-primary customSubmitButton" [disabled]="isDisableAllFields"><i
        class="fa fa-plus"></i> ADD COMMENTS</button>
  </div>
  <br>

  <div *ngIf="isAddComment" class="mdl-textfield mdl-js-textfield">
    <textarea cols="50" rows="5" type="text" [attr.id]="field.id" [(ngModel)]="newComment" (input)="onSearchChange($event.target.value)" [disabled]="isDisableAllFields"></textarea>

    <br>

    <div>
      <button (click)="cancelCustomComment()" class="activiti-btn activiti-btn-primary customSubmitButton" [disabled]="isDisableAllFields"><i class="fa fa-close"></i>
        CANCEL COMMENT</button>
    </div>
  </div>
</body>

</html>